# WhatsApp Cloud API Configuration
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_PHONE_NUMBER=
WHATSAPP_VERIFY_TOKEN=SHISHIR_ADHIKARI
WHATSAPP_WEBHOOK_URL=https://your-domain.com/api/webhook
